[submodule "backend"]
	path = backend
	url = git@github.com:devgustavovasquez/challenge-speedio-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:devgustavovasquez/challenge-speedio-frontend.git
[submodule "challenge-speedio-frontend"]
	path = challenge-speedio-frontend
	url = git@github.com:devgustavovasquez/challenge-speedio-frontend.git
[submodule "challenge-speedio-backend"]
	path = challenge-speedio-backend
	url = git@github.com:devgustavovasquez/challenge-speedio-backend.git
